h1{
    font-family: 'Open Sans', sans-serif;
    color: blue;
}
img {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    margin: auto;



}


p{
    font: 100;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 10px 0;
}
a{
    text-decoration: none;
    
}
a:hover{
    color: blueviolet;
}
