h1{
    font-family: 'Open Sans', sans-serif;
    color: blue;
}
img {
    width: 400px;
    height: 500px;
    border-radius: 50px;



}


p{
    font: 100;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    
}
a:hover{
    color: blueviolet;
}
